<h2
  class="{{ block.settings | class_list }} {{ block.settings.heading_size }} text-{{ block.settings.alignment }}"
  {{ block.shopify_attributes }}
  style="
    color: {{ block.settings.color }};
    font-weight: {{ block.settings.font_weight }};
    line-height: {{ block.settings.line_height }};
    text-align: {{ block.settings.alignment }};
  "
>
  {{ block.settings.heading }}
</h2>

{% schema %}
{
  "name": "Heading",
  "tag": null,
  "class": "heading-block",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Size",
      "options": [
        {
          "value": "h3",
          "label": "Small"
        },
        {
          "value": "h2",
          "label": "Medium"
        },
        {
          "value": "h1",
          "label": "Large"
        },
        {
          "value": "h0",
          "label": "Extra Large"
        }
      ],
      "default": "h2"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Text Alignment",
      "default": "center"
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font Weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "bold",
          "label": "Bold"
        },
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        },
        {
          "value": "800",
          "label": "800"
        },
        {
          "value": "900",
          "label": "900"
        }
      ],
      "default": "normal"
    },
    {
      "type": "range",
      "id": "line_height",
      "min": 1,
      "max": 2,
      "step": 0.1,
      "label": "Line weight",
      "default": 1
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "fit-content"
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing",
      "default": {
        "@media (--mobile)": {
          "padding": "0px"
        }
      }
    }
  ],
  "presets": [{ "name": "Heading" }]
}
{% endschema %}
